
data/TrainingData_Part1.zip
data/TrainingData_Part2.zip
data/TrainingData_Part3.zip
data/training_data/Case00.mhd
data/training_data/Case00.raw
data/training_data/Case00_segmentation.mhd
data/training_data/Case00_segmentation.raw
data/training_data/Case01.mhd
data/training_data/Case01.raw
data/training_data/Case01_segmentation.mhd
data/training_data/Case01_segmentation.raw
data/training_data/Case02.mhd
data/training_data/Case02.raw
data/training_data/Case02_segmentation.mhd
data/training_data/Case02_segmentation.raw
data/training_data/Case03.mhd
data/training_data/Case03.raw
data/training_data/Case03_segmentation.mhd
data/training_data/Case03_segmentation.raw
data/training_data/Case04.mhd
data/training_data/Case04.raw
data/training_data/Case04_segmentation.mhd
data/training_data/Case04_segmentation.raw
data/training_data/Case05.mhd
data/training_data/Case05.raw
data/training_data/Case05_segmentation.mhd
data/training_data/Case05_segmentation.raw
data/training_data/Case06.mhd
data/training_data/Case06.raw
data/training_data/Case06_segmentation.mhd
data/training_data/Case06_segmentation.raw
data/training_data/Case07.mhd
data/training_data/Case07.raw
data/training_data/Case07_segmentation.mhd
data/training_data/Case07_segmentation.raw
data/training_data/Case08.mhd
data/training_data/Case08.raw
data/training_data/Case08_segmentation.mhd
data/training_data/Case08_segmentation.raw
data/training_data/Case09.mhd
data/training_data/Case09.raw
data/training_data/Case09_segmentation.mhd
data/training_data/Case09_segmentation.raw
data/training_data/Case10.mhd
data/training_data/Case10.raw
data/training_data/Case10_segmentation.mhd
data/training_data/Case10_segmentation.raw
data/training_data/Case11.mhd
data/training_data/Case11.raw
data/training_data/Case11_segmentation.mhd
data/training_data/Case11_segmentation.raw
data/training_data/Case12.mhd
data/training_data/Case12.raw
data/training_data/Case12_segmentation.mhd
data/training_data/Case12_segmentation.raw
data/training_data/Case13.mhd
data/training_data/Case13.raw
data/training_data/Case13_segmentation.mhd
data/training_data/Case13_segmentation.raw
data/training_data/Case14.mhd
data/training_data/Case14.raw
data/training_data/Case14_segmentation.mhd
data/training_data/Case14_segmentation.raw
data/training_data/Case15.mhd
data/training_data/Case15.raw
data/training_data/Case15_segmentation.mhd
data/training_data/Case15_segmentation.raw
data/training_data/Case16.mhd
data/training_data/Case16.raw
data/training_data/Case16_segmentation.mhd
data/training_data/Case16_segmentation.raw
data/training_data/Case17.mhd
data/training_data/Case17.raw
data/training_data/Case17_segmentation.mhd
data/training_data/Case17_segmentation.raw
data/training_data/Case18.mhd
data/training_data/Case18.raw
data/training_data/Case18_segmentation.mhd
data/training_data/Case18_segmentation.raw
data/training_data/Case19.mhd
data/training_data/Case19.raw
data/training_data/Case19_segmentation.mhd
data/training_data/Case19_segmentation.raw
data/training_data/Case20.mhd
data/training_data/Case20.raw
data/training_data/Case20_segmentation.mhd
data/training_data/Case20_segmentation.raw
data/training_data/Case21.mhd
data/training_data/Case21.raw
data/training_data/Case21_segmentation.mhd
data/training_data/Case21_segmentation.raw
data/training_data/Case22.mhd
data/training_data/Case22.raw
data/training_data/Case22_segmentation.mhd
data/training_data/Case22_segmentation.raw
data/training_data/Case23.mhd
data/training_data/Case23.raw
data/training_data/Case23_segmentation.mhd
data/training_data/Case23_segmentation.raw
data/training_data/Case24.mhd
data/training_data/Case24.raw
data/training_data/Case24_segmentation.mhd
data/training_data/Case24_segmentation.raw
data/training_data/Case25.mhd
data/training_data/Case25.raw
data/training_data/Case25_segmentation.mhd
data/training_data/Case25_segmentation.raw
data/training_data/Case26.mhd
data/training_data/Case26.raw
data/training_data/Case26_segmentation.mhd
data/training_data/Case26_segmentation.raw
data/training_data/Case27.mhd
data/training_data/Case27.raw
data/training_data/Case27_segmentation.mhd
data/training_data/Case27_segmentation.raw
data/training_data/Case28.mhd
data/training_data/Case28.raw
data/training_data/Case28_segmentation.mhd
data/training_data/Case28_segmentation.raw
data/training_data/Case29.mhd
data/training_data/Case29.raw
data/training_data/Case29_segmentation.mhd
data/training_data/Case29_segmentation.raw
data/training_data/Case30.mhd
data/training_data/Case30.raw
data/training_data/Case30_segmentation.mhd
data/training_data/Case30_segmentation.raw
data/training_data/Case31.mhd
data/training_data/Case31.raw
data/training_data/Case31_segmentation.mhd
data/training_data/Case31_segmentation.raw
data/training_data/Case32.mhd
data/training_data/Case32.raw
data/training_data/Case32_segmentation.mhd
data/training_data/Case32_segmentation.raw
data/training_data/Case33.mhd
data/training_data/Case33.raw
data/training_data/Case33_segmentation.mhd
data/training_data/Case33_segmentation.raw
data/training_data/Case34.mhd
data/training_data/Case34.raw
data/training_data/Case34_segmentation.mhd
data/training_data/Case34_segmentation.raw
data/training_data/Case35.mhd
data/training_data/Case35.raw
data/training_data/Case35_segmentation.mhd
data/training_data/Case35_segmentation.raw
data/training_data/Case36.mhd
data/training_data/Case36.raw
data/training_data/Case36_segmentation.mhd
data/training_data/Case36_segmentation.raw
data/training_data/Case37.mhd
data/training_data/Case37.raw
data/training_data/Case37_segmentation.mhd
data/training_data/Case37_segmentation.raw
data/training_data/Case38.mhd
data/training_data/Case38.raw
data/training_data/Case38_segmentation.mhd
data/training_data/Case38_segmentation.raw
data/training_data/Case39.mhd
data/training_data/Case39.raw
data/training_data/Case39_segmentation.mhd
data/training_data/Case39_segmentation.raw
data/training_data/Case40.mhd
data/training_data/Case40.raw
data/training_data/Case40_segmentation.mhd
data/training_data/Case40_segmentation.raw
data/training_data/Case41.mhd
data/training_data/Case41.raw
data/training_data/Case41_segmentation.mhd
data/training_data/Case41_segmentation.raw
data/training_data/Case42.mhd
data/training_data/Case42.raw
data/training_data/Case42_segmentation.mhd
data/training_data/Case42_segmentation.raw
data/training_data/Case43.mhd
data/training_data/Case43.raw
data/training_data/Case43_segmentation.mhd
data/training_data/Case43_segmentation.raw
data/training_data/Case44.mhd
data/training_data/Case44.raw
data/training_data/Case44_segmentation.mhd
data/training_data/Case44_segmentation.raw
data/training_data/Case45.mhd
data/training_data/Case45.raw
data/training_data/Case45_segmentation.mhd
data/training_data/Case45_segmentation.raw
data/training_data/Case46.mhd
data/training_data/Case46.raw
data/training_data/Case46_segmentation.mhd
data/training_data/Case46_segmentation.raw
data/training_data/Case47.mhd
data/training_data/Case47.raw
data/training_data/Case47_segmentation.mhd
data/training_data/Case47_segmentation.raw
data/training_data/Case48.mhd
data/training_data/Case48.raw
data/training_data/Case48_segmentation.mhd
data/training_data/Case48_segmentation.raw
data/training_data/Case49.mhd
data/training_data/Case49.raw
data/training_data/Case49_segmentation.mhd
data/training_data/Case49_segmentation.raw
